[submodule "mod/operator"]
	path = mod/operator
	url = https://github.com/canonical/operator
[submodule "mod/interface-zookeeper"]
	path = mod/interface-zookeeper
	url = https://github.com/charmed-osm/interface-zookeeper.git
